# === General App Settings ===
MAIN_HTTP_PORT=8082
HEALTH_CHECK_HTTP_PORT=5000
LOG_LEVEL=INFO
UVICORN_WORKERS=1

# === Relational DB ===
RELATIONAL_DB__VENDOR=postgres
RELATIONAL_DB__URL=postgresql://user:password@localhost:5432/your_db
RELATIONAL_DB__ENABLE_LOG=true
RELATIONAL_DB__ENABLE_AUTO_MIGRATE=true

# === Authentication Service ===
AUTHENTICATION_SERVICE__VENDOR=keycloak
AUTHENTICATION_SERVICE__URL=http://localhost:8081
AUTHENTICATION_SERVICE__ADMIN_USERNAME=admin
AUTHENTICATION_SERVICE__ADMIN_PASSWORD=secret
AUTHENTICATION_SERVICE__REALM=clean-arc
AUTHENTICATION_SERVICE__CLIENT_ID=your-client-id
AUTHENTICATION_SERVICE__CLIENT_SECRET=your-client-secret
AUTHENTICATION_SERVICE__WEBHOOK_SECRET=your-webhook-secret

# === ReBAC Authorization Service ===
REBAC_AUTHORIZATION_SERVICE__VENDOR=openfga
REBAC_AUTHORIZATION_SERVICE__URL=http://localhost:8080
REBAC_AUTHORIZATION_SERVICE__TOKEN=your-token
REBAC_AUTHORIZATION_SERVICE__STORE_ID=your-store-id
REBAC_AUTHORIZATION_SERVICE__AUTHORIZATION_MODEL_ID=your-model-id
REBAC_AUTHORIZATION_SERVICE__TIMEOUT_IN_MILLIS=3000
